HELP.md
Control-Panel/node_modules/*
Control-Panel/dist/*
electron-quick-start/*
electron-quick-start/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.mvn/

### VS Code ###
.vscode/
